:root {
    --primary-color: #fc9aed;
    --text-color: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
@media only screen and (max-width: 300px) {
    body {
        background-image: url("img/bg4.jpg");
 
        background-attachment: fixed;
    }
  }
body {
    background-image: url("img/bg4.jpg");
 
    background-attachment: fixed;
  
}



.night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
}

.shooting_star {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 2px;
    background: linear-gradient(-45deg, #ffffff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #ffffff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #ffffff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #ffffff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
    top: calc(30% - 98px);
    left: calc(30% - 238px);
    -webkit-animation-delay: 8592ms;
    animation-delay: 8592ms;
}

.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 8592ms;
    animation-delay: 8592ms;
}

.shooting_star:nth-child(2) {
    top: calc(50% - 79px);
    left: calc(50% - 51px);
    -webkit-animation-delay: 4627ms;
    animation-delay: 4627ms;
}

.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 4627ms;
    animation-delay: 4627ms;
}

.shooting_star:nth-child(3) {
    top: calc(50% - -158px);
    left: calc(50% - 221px);
    -webkit-animation-delay: 1252ms;
    animation-delay: 1252ms;
}

.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 1252ms;
    animation-delay: 1252ms;
}

.shooting_star:nth-child(4) {
    top: calc(50% - 174px);
    left: calc(50% - 161px);
    -webkit-animation-delay: 6146ms;
    animation-delay: 6146ms;
}

.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 6146ms;
    animation-delay: 6146ms;
}

.shooting_star:nth-child(5) {
    top: calc(50% - -169px);
    left: calc(50% - 160px);
    -webkit-animation-delay: 3675ms;
    animation-delay: 3675ms;
}

.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 3675ms;
    animation-delay: 3675ms;
}

.shooting_star:nth-child(6) {
    top: calc(50% - 175px);
    left: calc(50% - 32px);
    -webkit-animation-delay: 4205ms;
    animation-delay: 4205ms;
}

.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 4205ms;
    animation-delay: 4205ms;
}

.shooting_star:nth-child(7) {
    top: calc(50% - 178px);
    left: calc(50% - 79px);
    -webkit-animation-delay: 4987ms;
    animation-delay: 4987ms;
}

.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 4987ms;
    animation-delay: 4987ms;
}

.shooting_star:nth-child(8) {
    top: calc(50% - 82px);
    left: calc(50% - 81px);
    -webkit-animation-delay: 7361ms;
    animation-delay: 7361ms;
}

.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 7361ms;
    animation-delay: 7361ms;
}

.shooting_star:nth-child(9) {
    top: calc(50% - -119px);
    left: calc(50% - 251px);
    -webkit-animation-delay: 8406ms;
    animation-delay: 8406ms;
}

.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 8406ms;
    animation-delay: 8406ms;
}

.shooting_star:nth-child(10) {
    top: calc(50% - 127px);
    left: calc(50% - 294px);
    -webkit-animation-delay: 2757ms;
    animation-delay: 2757ms;
}

.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 2757ms;
    animation-delay: 2757ms;
}

.shooting_star:nth-child(11) {
    top: calc(50% - 183px);
    left: calc(50% - 231px);
    -webkit-animation-delay: 5850ms;
    animation-delay: 5850ms;
}

.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 5850ms;
    animation-delay: 5850ms;
}

.shooting_star:nth-child(12) {
    top: calc(50% - -130px);
    left: calc(50% - 114px);
    -webkit-animation-delay: 6781ms;
    animation-delay: 6781ms;
}

.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 6781ms;
    animation-delay: 6781ms;
}

.shooting_star:nth-child(13) {
    top: calc(50% - -93px);
    left: calc(50% - 175px);
    -webkit-animation-delay: 9311ms;
    animation-delay: 9311ms;
}

.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 9311ms;
    animation-delay: 9311ms;
}

.shooting_star:nth-child(14) {
    top: calc(50% - 96px);
    left: calc(50% - 276px);
    -webkit-animation-delay: 8512ms;
    animation-delay: 8512ms;
}

.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 8512ms;
    animation-delay: 8512ms;
}

.shooting_star:nth-child(15) {
    top: calc(50% - -70px);
    left: calc(50% - 113px);
    -webkit-animation-delay: 2379ms;
    animation-delay: 2379ms;
}

.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 2379ms;
    animation-delay: 2379ms;
}

.shooting_star:nth-child(16) {
    top: calc(50% - -87px);
    left: calc(50% - 235px);
    -webkit-animation-delay: 2477ms;
    animation-delay: 2477ms;
}

.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 2477ms;
    animation-delay: 2477ms;
}

.shooting_star:nth-child(17) {
    top: calc(50% - 97px);
    left: calc(50% - 204px);
    -webkit-animation-delay: 2124ms;
    animation-delay: 2124ms;
}

.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 2124ms;
    animation-delay: 2124ms;
}

.shooting_star:nth-child(18) {
    top: calc(50% - -138px);
    left: calc(50% - 248px);
    -webkit-animation-delay: 3485ms;
    animation-delay: 3485ms;
}

.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 3485ms;
    animation-delay: 3485ms;
}

.shooting_star:nth-child(19) {
    top: calc(50% - 156px);
    left: calc(50% - 275px);
    -webkit-animation-delay: 1039ms;
    animation-delay: 1039ms;
}

.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 1039ms;
    animation-delay: 1039ms;
}

.shooting_star:nth-child(20) {
    top: calc(50% - -118px);
    left: calc(50% - 213px);
    -webkit-animation-delay: 951ms;
    animation-delay: 951ms;
}

.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 951ms;
    animation-delay: 951ms;
}

@-webkit-keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes shooting {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

@-webkit-keyframes sky {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

@keyframes sky {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}



html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

@media only screen and (max-width: 46.1875em) {
    .dashboard {
        padding: 4px 4px 2px;
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 380px;
        border-bottom: 1px solid #5d5d5d;
    }
}


.dashboard {
    padding: 16px 16px 14px;
    /* background-color: #fff; */
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    /* border-bottom: 1px solid #ebebeb; */
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

.img {
    font-size: 10px;
}

header h1 {
    color: var(--primary-color);
    font-size: 30px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* PLAYLIST */
.playlist {
    margin-top: 408px;
    padding: 12px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    /* background-color: #fff; */
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
    background-color: rgba(66, 67, 67, 0.1);
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author {
    color: rgb(250, 48, 226);
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.song .option {
    padding: 16px 8px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}